*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.calculator{
    width: 300px;
    height: 350px;
    background-color: tan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
}

h1{
    margin-top: 20px;
    padding: 10px;
}

body{
    background-image: url(img1.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100% ;
}

label{
    margin: 10px;
}
input{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 10px;
}

button{
    font-size: 18px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
}